name: Deploy to Heroku

on:
  push:
    branches:
      - actions/deployment

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: akhileshns/heroku-deploy@v3.13.15
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "jellybean"
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          usedocker: true
